.nav {
    border: 1px solid #eaebed;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;   
    
}
.ham-flo-container {
    display:flex;

}
.icon-container {
    display: flex;
    align-self: center;
}
.icon {
    font-size: 30px;
    margin-right: 8px;
}
.profile {
    display: none;
}
.eng {
    display: none;
}
.tabs {
    display: none;
}
.para {
    margin-right: 10px;
}
@media(min-width: 768px) {
    .icon {
        font-size: 20px;
    }
    .ham {
        display: none;
    }
    .profile {
        display: inline;
    }
    .eng {
        display: flex;
        align-items: center;
        align-self: center;
        font-size: 15px;
    }
    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
}